@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@charset "utf-8";

body{
	overflow: hidden;
}

#app{
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	font-family: 'PT Serif', serif;
}

h1{
	font-size: 190%;
}

nav{
	width: 100%;
    height: 5vh;
    /*background: black;
	box-shadow:0px 4px 5px 0px rgba(0,0,0,0.75);*/
	border-bottom: 3px solid #d5d2d0;
	z-index: 99;
	text-align: right;
	background-image: url(../pic/nav.jpg);
    background-size: 12%;
}

nav a{
	text-decoration: none;
    line-height: 5vh;
    color: black;
    font-size: 1.3vw;
    transition: 0.7s cubic-bezier(0.4, 0.0, 0.2, 1);
    padding: 0% 1%;
    background: rgba(255,255,255,1);
}

nav a:hover{
	color: #bf0a09;
	text-decoration: none;
}

nav a:visited{
	text-decoration: none;
}

nav a:active{
	text-decoration: none;
}

nav a:focus:hover{
	text-decoration: none;
	color: #bf0a09;
}

nav a:focus{
	text-decoration: none;
	color: #bf0a09;
}

#main-page{
	width: 100%;
    display: flex;
}

#recipe_view{
	height: 95vh;
	width: 80%;
}

#choose_wrapper{
	display: flex;
	flex-wrap: wrap;
	width: 20%;
	border-right: 1px solid #d5d2d0;
	background: #f5f2f0;
}


#choose_components{
	height: 40vh;
	width: 100%;
	border-bottom: 1px solid #d5d2d0;
}

#choose_title{
	height: 5vh;
	text-align: center;
	width: 100%;
}

#choose_recipe{
	height: 40vh;
	width: 100%;
	overflow: auto;
}

.recipe_wrapper{
	display: flex;
	height: 100%;
	justify-content: center;
	flex-wrap: wrap;
	align-content: baseline;
	overflow: auto;
}

.recipe_wrapper .title{
	width: 50%;
    margin: 5% 0%;
	text-align: center;
	font-size: 300%;
}

.recipe_wrapper .ingredients{
	width: 85%;
    line-height: 1.3vw;
    font-size: 1.3vw;
    margin: 5% 0%;
    border: 5px solid #bf0a09;
}

.recipe_wrapper ul{
	list-style-type: none;
	margin-bottom: 5%;
	font-style: italic;
	margin: 0;
	padding: 0;
}

.recipe_wrapper ul li{
	margin: 20px 0px;
}

.recipe_wrapper .ingredients .name{
	display: inline-block;
	width: 20%;
	text-align: right;
}

.recipe_wrapper .ingredients .line{
	width: 50%;
	display: inline-block;
	border: 1px dashed black;
}

.recipe_wrapper .ingredients .dosage{
	display: inline-block;
	width: 20%;
}

.recipe_wrapper .body{
	width: 85%;
	line-height: 2.1vw;
    font-size: 1.5vw;
}

.recipe_wrapper .img_wrapper{
	width: 100%;
    text-align: center;
}

.dropdown{
	border: 1px solid rgba(0,0,0,.5);
	position:absolute;
	width: 100%;
	background: white;
	z-index: 999;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
}

.dropdown .ingredient{
	cursor: pointer;
	line-height: 1.3vw;
    font-size: 1.3vw;
	text-align: left;
}

.dropdown .ingredient:hover{
	background: grey;
}

#search_title{
	text-align: center;
}

#input_wrapper{
	text-align: center;
}

#input_wrapper input{
	width: 100%;
    line-height: 1.3vw;
    font-size: 1.3vw;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
	transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
	border: 1px solid rgba(0,0,0,.5);
}

#input_wrapper input:hover{
	box-shadow:4px 4px 7px 0px rgba(0,0,0,0.75);
}

#wrapper_for_dropdown{
	position: relative;
	display: inline-block;
}

.selected_ingredients{
	display: flex;
	flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
}

.selected_ingredients .ingredient{
	border: 2px solid rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 5px;
	cursor: pointer;
	min-width: 25%;
    text-align: center;
    position: relative;
	margin: 1% 3.5%;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
	line-height: 1vw;
    font-size: 1vw;
}


.selected_ingredients .ingredient::after{
	content: 'удалить';
    position: absolute;
    background: white;
    left: 0%;
    top: 0%;
    opacity: 0;
    padding: 5px;
    border-radius: 10px;
	transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
	width: 100%;
	line-height: 1vw;
    font-size: 1vw;
}

.selected_ingredients .ingredient:hover{
	box-shadow:4px 4px 7px 0px #bf0a09;
	color: #bf0a09;
	border-color: #bf0a09;
}

.selected_ingredients .ingredient:active{
	box-shadow:0px 0px 0px 0px #bf0a09;
	color: #bf0a09;
	border-color: #bf0a09;
}

.selected_ingredients .ingredient:hover::after{
	opacity: 1;
}

.found_recipes{
	text-align: center;
    font-size: 1.1vw;
	height: 7vh;
	cursor: pointer;
	transition: 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
	display: flex;
	flex-wrap: wrap;
}

.found_recipes:hover{
	background: #bf0a09;
}

.found_recipes .wrapper_pseudo_table{
	display: table;
	width: 80%;
	height: 7vh;
}

.found_recipes .title{
	display: table-cell;
	vertical-align: middle;
	/*line-height: 5vh;*/
}

.found_recipes img{
	max-width: 20%;
	height: 100%;
}

#all_rec_wripper{
    width: 100%;
	height: 95vh;
}

#all_rec_wripper .recipes_list{
	text-align: center;
	height: 85vh;
	margin-top: 10px;
}

#all_rec_wripper .recipes_list a{
	height: 4vh;
    line-height: 4vh;
    font-size: 1.5vw;
	color: black;
	display: flex;
	justify-content: center;
}
#all_rec_wripper .recipes_list a:hover{
	text-decoration: none;
}

#all_rec_wripper .recipes_list a:focus{
	text-decoration: none;
	color: white;
}

#all_rec_wripper .recipes_list a:active{
	text-decoration: none;
}

#all_rec_wripper .recipes_list a:visited{
	text-decoration: none;
}

#all_rec_wripper .recipes_list a .title{
	height: 4vh;
    line-height: 4vh;
    font-size: 1.5vw;
	transition: 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
	width: 50%;
}

#all_rec_wripper .recipes_list a img{
	width: 35px;
    height: 35px;
}

#all_rec_wripper .recipes_list a .title:hover{
	color: white;
    background: #bf0a09;
}

.pagination{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 5vh;
	margin: 0;
}

.pagination .prev_btn{
}

.pagination .next_btn{
}

.pagination a{
	display: contents;
}

.pagination .btn{
	align-self: center;
    width: 10%;
    text-align: center;
    line-height: 5vh;
    font-size: 1vw;
    border: 1px solid black;
    cursor: pointer;
	margin: 0 5px;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
	color: black;
}

.pagination .btn:hover{
	box-shadow:4px 4px 5px 0px rgba(0,0,0,0.75);
}

.pagination .btn:active{
	box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
}

.login_wrapper{
	height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1.1vw;

}

.login_wrapper #login_form{
	height: 20%;
	width: 30%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login_wrapper #login_form .btn{
	font-size: 1.1vw;
	border: 1px solid black;
    cursor: pointer;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
}

.login_wrapper #login_form .btn:hover{
	box-shadow:4px 4px 5px 0px rgba(0,0,0,0.75);
}

.login_wrapper #login_form .btn:active{
	box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
}

.login_wrapper #login_form input{
	width: 100%;
}

.login_wrapper #login_form #message{
	width: 100%;
	text-align: center;
	color: red;
}

.admin_wrapper{
	height: 95vh;
    width: 100%;
	display:flex;
}

.admin_wrapper #body{
	width: 80%;
	overflow: auto;
}

.admin_wrapper #menu{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    font-size: 1vw;
    line-height: 5vw;
	border-right: 1px solid rgba(0,0,0,.5);
}

.admin_wrapper #menu .menu_point{
	height: 5vw;
    width: 100%;
	cursor:pointer;
}

.admin_wrapper #menu .menu_point:hover{
	background: grey;
}
.admin_wrapper #body .add_change #title{
	font-size: 2vw;
    margin: 3% 1%;
}

.admin_wrapper #body .add_change #main_img{
	height: 10vh;
	margin: 2% 1%;
}

.admin_wrapper #body .add_change .btn_add{
	font-size: 1.1vw;
	border: 1px solid black;
    cursor: pointer;
	margin: 5% 1%;
	display: inline-block;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
}

.admin_wrapper #body .add_change .btn_add:hover{
	box-shadow:4px 4px 5px 0px rgba(0,0,0,0.75);
}

.admin_wrapper #body .add_change .btn_add:active{
box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
}
.admin_wrapper #body .add_change #editor_wrapper{
	height: 40vh;
    width: 70%;
    margin: 0% 1%;
}

.admin_wrapper #body .add_change #toolbar{
	width: 70%;
    margin: 0% 1%;
}

.admin_wrapper #body .add_change #ingredients{
	display: flex;
	flex-wrap: wrap;
	margin: 1% 1%;
}

.admin_wrapper #body .add_change .ingredient{

}

.admin_wrapper #body .add_change .dosage{

}

.admin_wrapper #body .add_change #ingredients .dropdown{
	width: auto;
}

.admin_wrapper #body .add_change #ingredients input{
	font-size: 1vw;
	margin: 0% 1%;
}

.admin_wrapper #body .add_change #editor_wrapper #editor{
	line-height: 1.4vw;
    font-size: 1.4vw;
}
.admin_wrapper #body .add_change .search_wrapp{
	width: 100%;
	font-size: 2vw;
    margin: 1% 1%;
}
.admin_wrapper #body .add_change .search_wrapp .btn{
	border: 1px solid black;
    cursor: pointer;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
	font-size: 1.3vw;
}
.admin_wrapper #body .add_change .search_wrapp .btn:hover{
	box-shadow:4px 4px 7px 0px rgba(0,0,0,0.75);
}
.admin_wrapper #body .add_change .search_wrapp .btn:active{
	box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
}

.no_a_decor{
	text-decoration: none;
}

.no_a_decor:hover{
	text-decoration: none;
}

.no_a_decor:focus{
	text-decoration: none;
}
.no_a_decor:active{
	text-decoration: none;
}

.manage{
	display:flex;
	margin: 5% 5%;
	font-size: 1.3vw;
}

.manage #add_ingr{
	width: 50%;
}

.manage #del_ingr{
	width: 50%;
}

.manage .title{
	
}

.manage .btn{
	border: 1px solid black;
    cursor: pointer;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
	font-size: 1.3vw;
}

.manage .btn:hover{
	box-shadow:4px 4px 7px 0px rgba(0,0,0,0.75);
}

.manage .btn:active{
	box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
}

.del{
	margin: 5% 5%;
	font-size: 1.3vw;
}

.del .btn{
	border: 1px solid black;
    cursor: pointer;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
	font-size: 1.3vw;
}

.del .btn:hover{
	box-shadow:4px 4px 7px 0px rgba(0,0,0,0.75);
}

.del .btn:active{
	box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
}

.upload_img{
	display: flex;
	margin: 5% 1%;
}

.upload_img .msg{
	margin: 0% 2%;
}

.upload_img .btn{
	border: 1px solid black;
    cursor: pointer;
	box-shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
	font-size: 1vw;
}

.upload_img .btn:hover{
	box-shadow:4px 4px 7px 0px rgba(0,0,0,0.75);
}

.upload_img .btn:active{
	box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
}

.img_picker{
	margin: 5% 1%;
}

.img_picker .img_container{
	height: 10vh;
	overflow-x: auto;
	display: flex;
} 

.img_picker .img_container img{
	height: 100%;
} 

.ql-align-center{
	text-align: center;
}

.ql-align-right{
	text-align: right;
}

@media screen and (min-width: 240px) and (max-width: 768px){
	#choose_wrapper{width: 100%; border-bottom: 1px solid rgba(0,0,0,.5); border-right: 0;}
	h1{font-size: 6.3vw;}
	nav a{font-size: 4.3vw;}
	#main-page{flex-wrap: wrap;}
	#recipe_view {width: 100%; height: auto; min-height: 25vh;}
	#input_wrapper input {line-height: 4.3vw; font-size: 4.3vw;}
	.selected_ingredients .ingredient{padding: 10px;font-size: 4vw;line-height: 4vw;}
	.dropdown .ingredient {line-height: 5.3vw;font-size: 5.3vw;}
	#input_wrapper input {line-height: 5.3vw;font-size: 5.3vw;}
	.found_recipes .title{font-size: 5.3vw;}
	body{overflow: auto;}
	.recipe_wrapper ul{font-size: 4vw}
	.recipe_wrapper .body{line-height: 3.4vw;font-size: 3.4vw;}
	.recipe_wrapper img{width: 50vw}
	.selected_ingredients .ingredient::after{padding: 10px;font-size: 4vw;line-height: 4vw;}
	#all_rec_wripper .recipes_list a .title {line-height: 3.3vw;font-size: 3.3vw; width: 80%;}
	#all_rec_wripper .recipes_list img {max-width: 20%;}
	.pagination .btn{font-size:5vw; width:auto;}
	.recipe_wrapper .ingredients .name{margin-right: 0%; width: 45%; line-height: 4vw;}
	.recipe_wrapper .ingredients .line{width: 10%;}
	.recipe_wrapper .ingredients .dosage{margin-left: 0%; width: 38%;}
	nav{text-align:center; background-size: 30%;}
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
	#choose_wrapper{width: 30%;}
	h1{font-size: 185%;}
	nav a{font-size: 2.3vw; background-size: 30%;}
	.found_recipes .title{font-size: 1.5vw;}
	#choose_title{height: 10vh;}
	.recipe_wrapper img{width: 50vw}
	#all_rec_wripper .recipes_list a .title {line-height: 115%;font-size: 115%;}
	.pagination .btn{font-size: 140%; width:auto;}
		.recipe_wrapper .ingredients .name{margin-right: 1%;}
	.recipe_wrapper .ingredients .line{width: 50%;}
	.recipe_wrapper .ingredients .dosage{margin-left: 1%;}
}

#progress{
	height: 100%;
	width: 100%;
	background-image: url(../pic/progress.gif);
    background-repeat: no-repeat;
    background-position: center;
}
