#app{
	color:#000;
	height: 100vh;
	background-image:url("http://192.168.0.103:5000/img/background.png/1")
}

body{
	margin: 0;
	background: linear-gradient(to right top, rgb(26, 158, 127), rgb(12, 92, 173));
	font-family: Pacifico;
}

img{
	margin: 0 auto;
    display: block;
	max-height: 73vh;
	box-shadow: 4px 4px 7px 0px black;
	/*border-radius: 10%;*/
	max-width: 80vw;
	width: auto;
	height:auto;

}

#btn_wripper{
	text-align:center;
}

#img_wrapper{
	text-align:center;
	width:100%;
	display: inline-block;
	
}

#settings{
    vertical-align: top;
    box-shadow: 4px 4px 7px 0px black;
    text-align: center;
    background-color: #80c8ce;
	/*border-radius: 10%;*/
}

#left_col{
	width: 13%;
    display: inline-block;
    max-height: 70vh;
    margin-left: 1%;
	vertical-align: top;
}

#content_wrapper{
	width: 100%;
	margin-top: 1%;

}

#comment{
	margin-bottom:5px;
	resize: none;
	height: 20vh;
	width: 90%;
}

#comment_wrapper{
	text-align: center;
    background-color: #80c8ce;
	box-shadow: 4px 4px 7px 0px black;
	margin-top:5vh;
	/*border-radius: 10%;*/
}

.btn{
	border: 1px solid black;
    padding: 10px;
    /*border-radius: 15px;*/
    display: inline-block;
    box-shadow: 4px 4px 7px 0px black;
    cursor: pointer;
    transition: all 0.5s ease-out;
    margin: 10px;
    background-color: #c8fbc7;
	font-size: 25px;
}

.btn:hover{
	box-shadow: 4px 4px 7px 0px black;
	border-color:black;
}

.btn:active{
	box-shadow: none;
}

h1{
	text-align: center;
    height: 10vh;
    width: 100vw;
    margin: 0;
    background-color: #c8fbc7;
    box-shadow: 4px 4px 7px 0px black;
	line-height: 10vh;
	font-size: 55px;
}

h2{
	font-size:30px;
	margin: 0;
}

@font-face {
    font-family:Pacifico; /* Имя шрифта */
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf); /* Путь к файлу со шрифтом */
   }
  
b{
	font-size: 20px;
}

input{
	background-color: #c8fbc7;
	outline-offset: 0px;
    outline: 0px;
}

textarea{
	background-color: #c8fbc7;
	outline-offset: 0px;
    outline: 0px;
}

#load{
	background-image: url(http://192.168.0.103:5000/img/25.gif/1);
	height: 100vh;
    width: 100vw;
	position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;
	background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    opacity: 0.8;
}

#msg_background{
	height: 100vh;
    width: 100vw;
	position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}

#msg_box{
	z-index: 51;
	background-color: #80c8ce;
	position: absolute;
    left: 50vw;
    top: 50vh;
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
	text-align: center;
}

#msg{
	width: 88%;
    height: 50%;
    margin: 3%;
	resize: none;
}

#msg_ok{
	font-size: 15px;
    margin: 0;
    padding: 0 20%;
}

select{
	outline: none;
}

@media screen and (orientation:portrait) {
	@media screen and (max-device-width: 1024px) {
	#left_col{
		width: 100%;
		margin-left: 0;
	}
	
	#settings {
		width: 39vw;
		display: inline-block;
		margin: 0 5vw;
		height: 33vh;

	}
	
	#comment_wrapper{
		width: 39vw;
		display: inline-block;
		margin: 0 5vw;
		height: 33vh;
	}
    
	#img_wrapper {
		width: 100%;
		margin-top: 2vh;
	}
	
	#comment{
		height: 19vh;
		width: 90%;
		margin-top:0;
	}
	
	img{
		margin-bottom: 3vh;
		max-height: 42vh;
	}
	
	#content_wrapper{
		margin-top: 2.5vh;
	}
 }
	
}
@media screen and (orientation:landscape) {
	@media screen and (max-device-width: 1400px) {
		#left_col{
			width: 24%;
		}
		
		#img_wrapper {
			width: 74%;
		}
		
		#comment_wrapper{
			display:none;
		}
		
		img{
			max-width: 70vw;
		}
	}
	
	
	@media screen and (min-device-width: 700px) and (max-device-width: 1024px) {
		img{
			max-height: 69vh;
		}
		
		#settings{
			font-size: 13px;
		}
		
		h1{
			font-size: 39px;
		}
	}
	
	@media screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
		img{
			max-height: 69vh;
		}
		
		#settings{
			font-size: 13px;
		}
		
		h1{
			font-size: 39px;
		}
	}
	
	@media screen and (min-device-width: 1401px){
		#img_wrapper {
			width: 85%;
		}
	}
}

 