#app{
	background-color:#1e1e21;
	color:#fff;
	height: 100vh;
	}

body{
	margin: 0;
}

#main_inf{
    background-color: #4b356e;
    padding: 5%;
    border-radius: 18px;
    display: inline-block;
    box-shadow: 7px 7px 7px 7px black;
	font-size: 25px;
	width: 90%;
}

#main_inf_wrapper{
    display: inline-block;
    width: 60%;
	margin: 0 auto;
}

#top_conteiner{
	margin-top: 7%;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.delta_main_info{
	color: green;
	display: inline;
}

#search input{
    width: 98%;
    padding: 0;
    border: 0;
    margin-top: 5%;
    line-height: 30px;
	font-size: 20px;
	padding: 0px 0px 0px 2%;
	box-shadow: 7px 7px 7px 7px black;
}

#search input:focus{
	outline-offset: 0;
    outline: 0;
}